<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask Bob</title>
    <%- include('head-include') %>
    

</head>
<body>
    
    <script>
        /*// Function to get the value of a cookie by name
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
            return null; // Return null if the cookie doesn't exist
        }
    
        // Check if the 'username' cookie exists
        const username = getCookie('username');
    
        if (!username) {
            // Redirect to /set-name if the 'username' cookie does not exist
            window.location.href = '/set-name';
        }
        */
    </script>

    
    
    <%- include('navbar-chat-include') %>
    <div class="main-content-bob">

        <div class="bob-chat" id="bob-chat" data-direct="<%= chatData.direct %>" data-chat-id="<%= chatId %>" data-user-doc-id="<%= userDocId %>" data-sub-id="<%= subId %>" data-anonymous="<%= chatData.anonymous %>">
            <div class="chat-wrapper">
                <% messages.forEach(function(message) { %>
                    <div data-message-sender="<%= message.userId %>" data-message-timestamp="<%= message.timestamp %>" data-message-id="<%= message.id %>" class="response">
                        <p class="message-sender">
                            <%= message.sender %>
                        </p>
                        <span class="message-content"><%= message.content %></span>
                        
                        <p class="message-sender-id">
                            <%= message.userId %>
                        </p>
                        
                    </div>
                    
                <% }) %>
                <div id="dummy-message" class="response dummy-hide dummy-response message-right">
                    <p class="message-sender">
                        You. <span class="sending-format">Sending<span class="dots"></span></span>
                        
                    </p>
                    <span class="message-content">Your message</span>
                    <p class="message-time">
                        dummy
                    </p>
                    <p class="message-sender-id">
                        dummy
                    </p>
                </div>
                <div id="dummy-typing" class="response dummy-hide dummy-response typing-center">Someone is typing<span class="dots"></span></div>
                <div class="response dummy-hide dummy-response thinking-center">Bob is thinking<span class="dots"></span></div>
            </div>
            
                
            
            
            <form id="ask-bob-form">
                <input type="text" id="message" name="message" placeholder="Type something">
                <button type="button" id="ask-bob-button">➡️</button>
            </form>
            
        </div>

        <!-- Modal Structure -->
        <div id="chat-info-modal" class="modal fade" tabindex="-1" aria-labelledby="chatInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 id="chatInfoModalLabel" class="modal-title">Chat Info</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="chat-info-form">
                    <div class="mb-3">
                      <label for="group_name_input" class="form-label">Group Name</label>
                      <input type="text" class="form-control" id="group_name_input" value="" />
                    </div>
                    <div class="mb-3">
                      <h6>Participants:</h6>
                      <ul id="participants_list" class="list-group list-group-flush"></ul>
                    </div>
                    <div class="mb-3">
                      <input type="text" class="form-control" id="new_participant_input" placeholder="Invite participant (user ID)" />
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                    <button id="leave-group-info" class="btn btn-primary" data-bs-dismiss="modal">Leave Group</button>
                  <button id="save-group-info" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                </div>
              </div>
            </div>
          </div>
          

        

    

    <script>
        // const chatId = '<%= chatId %>';
        // const username = 'banana';
        
    </script>
    

    
    <script src="https://cdn.socket.io/4.8.0/socket.io.min.js"></script>

    <script type="module" src="/scripts/askbob.js"></script>
    <script type="module" src="/scripts/chat-info.js"></script>


</div>
</body>
</html>
